Source: libarcus
Priority: optional
Maintainer: Gregor Riepl <onitake@gmail.com>
Build-Depends: debhelper (>= 9), cmake (>=2.8.12), dh-python,
 libprotobuf-dev (>=3.0.0), libprotoc-dev (>=3.0.0), protobuf-compiler (>=3.0.0),
 python3-dev, python3-sip-dev
Standards-Version: 3.9.8
Section: libs
X-Python3-Version: >= 3.4
Homepage: https://github.com/Ultimaker/libArcus
Vcs-Git: https://github.com/Ultimaker/libArcus
Vcs-Browser: https://github.com/Ultimaker/libArcus

Package: libarcus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: message queue for cura based on protobuf (shared library)
 This library contains C++ code and Python3 bindings for creating a socket
 in a thread and using this socket to send and receive messages based on
 the Protocol Buffers library. It is designed to facilitate the communication
 between Cura and its backend and similar code.

Package: libarcus-dev
Section: libdevel
Architecture: any
Depends: libarcus (= ${binary:Version}), ${misc:Depends}
Description: message queue for cura based on protobuf (development files)
 This library contains C++ code and Python3 bindings for creating a socket
 in a thread and using this socket to send and receive messages based on
 the Protocol Buffers library. It is designed to facilitate the communication
 between Cura and its backend and similar code.

Package: python3-arcus
Section: python
Architecture: any
Depends: libarcus (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: message queue for cura based on protobuf (python bindings)
 This library contains C++ code and Python3 bindings for creating a socket
 in a thread and using this socket to send and receive messages based on
 the Protocol Buffers library. It is designed to facilitate the communication
 between Cura and its backend and similar code.
